@import "tailwindcss";

@theme {

  /* Colors */
  --color-beige-500: #98908b;
  --color-beige-100: #f8f4f0;
  --color-grey-900: #201f24;
  --color-grey-500: #696868;
  --color-grey-300: #b3b3b3;
  --color-grey-100: #f2f2f2;
  --color-green: #277c78;
  --color-yellow: #f2cdac;
  --color-cyan: #82c9d7;
  --color-navy: #626070;
  --color-red: #c94736;
  --color-purple: #826cb0;
  --color-purple-100: #af81ba;
  --color-turqoise: #597c7c;
  --color-brown: #93674f;
  --color-magenta: #934f6f;
  --color-blue: #3f82b2;
  --color-navyGrey: #97a0ac;
  --color-armyGreen: #7f9161;
  --color-gold: #cab361;
  --color-orange: #be6c49;

  /* Typograhpy */

  --text-preset-1: 32px;
  --text-preset-1--font-weight: bold;
  --text-preset-1--line-height: 120%;
  --text-preset-1--letter-spacing: 0px;
  
  --text-preset-2: 20px;
  --text-preset-2--font-weight: bold;
  --text-preset-2--line-height: 120%;
  --text-preset-2--letter-spacing: 0px;
  
  --text-preset-3: 16px;
  --text-preset-3--font-weight: bold;
  --text-preset-3--line-height: 150%;
  --text-preset-3--letter-spacing: 0px;
  
  --text-preset-4: 14px;
  --text-preset-4--line-height: 150%;
  --text-preset-4--letter-spacing: 0px;
  --text-preset-4--font-weight: normal;
  
  --text-preset-4-bold: 16px;
  --text-preset-4-bold--font-weight: bold;
  --text-preset-4-bold--line-height: 150%;
  --text-preset-4-bold--letter-spacing: 0px;
  
  --text-preset-5: 12px;
  --text-preset-5--line-height: 150%;
  --text-preset-5--letter-spacing: 0px;
  --text-preset-5--font-weight: normal;
  
  --text-preset-5-bold: 12px;
  --text-preset-5-bold--font-weight: bold;
  --text-preset-5-bold--line-height: 150%;
  --text-preset-5-bold--letter-spacing: 0px;

  /* Breakpoints */

  --breakpoint-tab: 550px;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  body {
    color: var(--color-grey-900);
    background: var(--color-beige-100);
  }
}

@layer components {
  .card {
    background-color: var(--color-white);
    border-radius: var(--rounded-lg);
    padding: var(--spacing-6);
    box-shadow: var(--shadow-xl);
  }
}
